*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
  }
  
  body {
    font-family: 'Public Sans', sans-serif;
    color: #000000;
  }
  
  #text-black{
    color: #000000;
  }
  
  .bg-light-cust{
    background-color: #E5E5E5;
  }
  
  #bg-blue{
    background-color: #2750a8;
  }
  
  .color-blue{
    color: #012762;
  }
  
  .font-poppins{
    font-family: 'Poppins', sans-serif;
  }
  
  .section-2{
    padding-top: 1.8rem;
  }
  
  #search-input{
    width:25rem;
    border:1px solid #2750a8;
    border-radius: 10px 0 0 10px ;
  }
  
  .navbar{
    font-family: 'Sansation Regular', arial;
    font-weight: 400;
  }
  
  #nav-btn{
    border:1px solid #2750a8;
    border-radius: 0 10px 10px 0;
  }
  
  .section-2-nav{
    padding-top: 6rem;
  
  }
  .section-2-nav-bg{
    background-color: #E5E5E5;
    font-weight: 600;
  }
   
  #textDeco{
    text-decoration: none;
  }
    
    
  .width-medium {
      width: 70% !important;
  }
  .bg-darkblue {
      background-color: #0E0E2C ;
      color: aliceblue ;
  }
  .nav-link {
      color: #0E0E2C !important;
      font-weight: 600;
  }
  .nav-second {
      margin-left: 60px;
  }
  .color-white {
      color: aliceblue !important;
  }
  
  .bg-blue {
      background: linear-gradient(107.93deg, #1C3473 52.61%, #2750A8 63.13%);
      color: aliceblue;
  }
  .font-publicsans{
    font-family: 'Public Sans', sans-serif !important;
  }
.small-text2 {
    font-size: 0.8rem;
}



.vend-container {
    margin: 0 100px;
}
.shadow-vend {
    box-shadow: 0 1px 6px gray;
}
.bg-allcat {
    background-image: url(../img/Rectangle\ 249.png);
}

.allcatherowidth {
    width: 100%;
}
.baloon {
    height: 200px;
    float: right;
}
.text-pad {
 padding: 0 10px;
}
.shadow-text {
    text-shadow: 2px 2px 2px #746f6f;
}

.pad-bottom {
    padding-bottom: 50px;
}
.pad-bottom2 {
    padding-bottom: 100px;
}

.color-blue{
    color: #012762;
  }
  footer {
      background-color: #2750a8;
    }
  
    .ft-text {
      color: #d8d8ea;
      text-decoration: none;
      font-family: "Poppins", sans-serif;
      font-weight: bold;
    }
    .ft-text-sm {
      font-size: small;
    }
    a {
      text-decoration: none;
    }
  
    @media (max-width: 1030px){
      #search-input{
          width: 18rem;
       }
    }

    @media (max-width: 800px) {
        .vend-container {
            margin: auto;
        }
    }
    
    @media (max-width: 430px){
      #section-7-container{
        width: 80%;
      }
    
      #search-input{
        width: 13rem;
     }
    
    }
  
    @media (max-width: 320px){
      #nav-2{
        margin-top: 0;
        padding-top: 0;
      }
    }
  
 
  
 