@font-face {
  src: url(./fonts/Sansation_Bold.ttf);
  font-family: sensationbold;
}
body {
  padding: 0;
  margin: 0;
}
.navbar {
  padding-left: 4rem;
  padding-right: 4rem;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}

.search-bar {
  color: #d8d8ea;
  display: block;
  width: 30%;
  margin-left: 4rem;
}
.search-bar ::placeholder {
  color: #d8d8ea;
}
.nav-text {
  font-family: sensationbold;
  color: #868686;
}
footer {
  background-color: #2750a8;
}

.ft-text {
  color: #d8d8ea;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.ft-text-sm {
  font-size: small;
}
a {
  text-decoration: none;
}

.width-medium {
  width: 70% !important;
}
.bg-darkblue {
  background-color: #0e0e2c;
  color: aliceblue;
}
.nav-link {
  color: #0e0e2c !important;
  font-weight: 600;
}
.nav-second {
  margin-left: 60px;
}
.color-white {
  color: aliceblue !important;
}

.bg-blue {
  background: linear-gradient(107.93deg, #1c3473 52.61%, #2750a8 63.13%);
  color: aliceblue;
}

.hero {
  background-image: url(../img/Group\ 100.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.hero-text {
  margin-top: 200px;
  margin-bottom: 10px;
  margin-left: 60px;
  color: #0e0e2c;
}

.color-blue {
  color: #1c3473;
}
.category {
  margin-top: 50px;
}
.img-left {
  margin-top: 30px;
  margin-left: 300px;
  margin-right: 50px;
}
.img-right {
  margin-top: 30px;
  margin-right: 0px;
  margin-left: -12px;
}
.img-bottom {
  margin-top: 100px;
  margin-bottom: 40px;
}

@media (max-width: 414px) {
  .search-bar {
    display: none;
  }
}
