@font-face {
  src: url(./fonts/Sansation_Bold.ttf);
  font-family: sensationbold;
}
body {
  padding: 0;
  margin: 0;
}
.navbar {
  padding-left: 4rem;
  padding-right: 4rem;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link :hover {
  color: rgb(39, 89, 230);
}

.search-bar {
  color: #d8d8ea;
  display: block;
  width: 30%;
  margin-left: 4rem;
}
.search-bar ::placeholder {
  color: #d8d8ea;
}
.nav-text {
  font-family: sensationbold;
  color: rgb(24, 22, 22);
}
footer {
  background-color: #2750a8;
  max-height: 120vh;
}
.card-body {
  background-color: #2750a8;
}
.ft-text {
  color: #d8d8ea;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.ft-text-sm {
  font-size: small;
}
a {
  text-decoration: none;
}
.head {
  background-image: url("../img/Rectangle\ 229.png");
}
